<div class="control-group">
  <%= f.label :email, :class => "control-label" %>
  <div class="controls">
    <%= f.email_field :email, :class => "span4" %>
  </div>
</div>
<div class="control-group">
  <%= f.label "Senha", :class => "control-label" %>
  <div class="controls">
    <%= f.password_field :password, :class => "span2" %>
  </div>
</div>
<div class="control-group">
  <%= f.label "Confirmação de Senha", :class => "control-label" %>
  <div class="controls">
    <%= f.password_field :password_confirmation, :class => "span2" %>
  </div>
</div>
<div class="control-group">
  <%= f.label "Função", :class => "control-label" %>
  <div class="controls">
    <ul class="list list-vertical">
      <%= build_role_list("/roles/user_role_checkbox", user) %>
    </ul> 
  </div>
</div>