<div class="form-fields">
  <div class="control-group">
    <%= f.label :position, :class => "control-label required col-sm-6" %>
    <div class="controls">
      <%= f.select :position, :collection => AdBar.positions.sort %>
      <%= errors_for(@ad_bar, :title) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :campaign_id, :class => "control-label required col-sm-6" %>
    <div class="controls">
      <%= f.select :campaign_id, :collection => @campaigns %>
      <%= errors_for(@ad_bar, :title) %>
    </div>
  </div>
</div>
