<%- model_class = AdBar -%>
<% content_for :index do %>
  <table class="footable table table-striped table-bordered">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:id) %></th>
        <th><%= model_class.human_attribute_name(:position) %></th>
        <th><%= model_class.human_attribute_name(:campaign_id) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @ad_bars.each do |ad_bar| %>
        <tr>
          <td><%= link_to ad_bar.id, ad_bar_path(ad_bar) %></td>
          <td><%= ad_bar.position %></td>
          <td><%= ad_bar.campaign.try(:title) %></td>
          <td class="tcenter">
            <%= actions_to_index(ad_bar) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= render  :partial => 'layouts/default_index',
            :locals => {
              :collection => @ad_bars,
              :class_name => AdBar
            }
-%>
