<%- model_class = AdBar -%>
<% content_for :show do %>
  <dl class="control-group">
    <dt><strong><%= model_class.human_attribute_name(:id) %>:</strong></dt>
    <dd><%= @ad_bar.id %></dd>
  </dl>
  <dl class="control-group">
    <dt><strong><%= model_class.human_attribute_name(:position) %>:</strong></dt>
    <dd><%= @ad_bar.position.humanize %></dd>
  </dl>
<dl class="control-group">
    <dt><strong><%= model_class.human_attribute_name(:campaign_id) %>:</strong></dt>
    <dd><%= @ad_bar.campaign.title %></dd>
  </dl>
  <dl class="control-group">
    <dt><strong><%= model_class.human_attribute_name(:css_background_color) %>:</strong></dt>
    <dd>
      <svg width="25" height="25">
        <rect width="25" height="25" style="fill:<%= @ad_bar.css_background_color %>" />
      </svg>&nbsp;<%= @ad_bar.css_background_color %>
    </dd>
  </dl>
  <% if @ad_bar.ads.any? %>
    <dl class="control-group">
      <table class="footable table table-striped table-bordered">
        <thead>
          <tr>
            <th class="tcenter">#</th>
            <th class="tcenter">Image</th>
            <th class="tcenter">Dimensions</th>
            <th class="tcenter">Title</th>
            <th class="tcenter">Subtitle</th>
            <th class="tcenter">URL</th>
          </tr>
        </thead>
        <tbody>
          <% @ad_bar.ads.each do |ad| %>
            <tr>
              <td><%= ad.id %></td>
              <td class="tcenter"><%= image_tag ad.image.url, style: "height: 70px" %></td>
              <td class="tcenter"><%= ad.dimensions %></td>
              <td><%= ad.title %></td>
              <td><%= ad.subtitle %></td>
              <td><%= ad.url %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </dl>
  <% end %>
<% end %>
<%= render :partial => 'layouts/default_show', :locals  => { :object => @ad_bar } -%>
