<%= simple_form_for @admin_campaign, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title %>

  <div class="form-group datetime optional admin_campaign_start_at">
    <label class="datetime optional control-label" for="admin_campaign_start_at">Start at</label>
    <div class="form-inline">
      <div class="input-group">
				<input type="text" name="admin_campaign[start_at]" class="form-control date-picker">
				<span class="input-group-btn calendar-span">
					<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
				</span>
			</div>
    </div>
  </div>

  <div class="form-group datetime optional admin_campaign_start_at">
    <label class="datetime optional control-label" for="admin_campaign_end_at">End at</label>
    <div class="form-inline">
      <div class="input-group">
				<input type="text" name="admin_campaign[end_at]" class="form-control date-picker">
				<span class="input-group-btn calendar-span">
					<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
				</span>
			</div>
    </div>
  </div>

  <div class="form-group integer optional admin_campaign_admin_company_id">
    <label class="integer optional control-label" for="admin_campaign_admin_company_id">Company</label>
    <%= select_tag("admin_campaign[admin_company_id]", options_for_select(@admin_companies, :selected => params[:admin_company_id]), {  class: 'form-control' }) %>
  </div>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_campaigns_path, :class => 'btn btn-default' %>
<% end %>
