<%% content_for :index do %>
    <table class="footable table table-striped table-bordered">
      <thead>
      <tr>
<% attributes.each do |attribute| -%>
        <th><%= attribute.human_name %></th>
<% end -%>
        <th class="tcenter th-action"><%%= t 'index.action' %></th>
      </tr>
      </thead>
      <tbody>
      <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
          <tr>
<% attributes.each do |attribute| -%>
            <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
            <td class="tcenter td-action btn-group">
              <%%= actions_to_index(<%= singular_table_name %>) %>
            </td>
          </tr>
      <%% end %>
      </tbody>
    </table>
<%% end %>

<%%= render  :partial => 'layouts/default_index',
            :locals => {
              :collection => @<%= plural_table_name %>,
              :class_name => <%= class_name %>
            }
-%> 
