<div class="form-fields">
  <div class="control-group">
    <%= f.label :title, :class => "control-label required" %>
    <div class="controls">
      <%= f.text_field :title, class: 'span4' %>
      <%= errors_for(@campaign, :title) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :period, :class => 'control-label' %>
    <div class="controls control-row">
      <span class="datetime input-append">
        <%= f.text_field :start_at, :class => 'datetime_select datetime-start', :value => format_datetime(f, :start_at), placeholder: 'dd/mm/yyyy' %>
      </span>
      &nbsp;to&nbsp;
      <span class="datetime input-append">
        <%= f.text_field :end_at, :class => 'datetime_select datetime-end', :value => format_datetime(f, :end_at), placeholder: 'dd/mm/yyyy' %>
      </span>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :company_id, :class => "control-label" %>
    <div class="controls">
      <%= f.select :company_id, @companies, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :css_bgcolor_login_box, :class => "control-label required" %>
    <div class="controls">
      <%= f.text_field :css_bgcolor_login_box, class: 'minicolors', maxlength: 7 %>
      <%= errors_for(@ad_bar, :css_bgcolor_login_box) %>
    </div>
  </div>
  <div class="nested-first fields-content-inner no-padding">
    <ol class="first-items list-inner-normal">
      <header class="form-fields-header">
        <h3 class="form-fields-header-title">Login BG Images</h3>
      </header>

      <%= f.nested_fields_for :login_bg_images do |nested| %>

        <li class="first-item list-inner-normal-item">
          <div class="list-accordion-header list-inner-normal-header list-inner-horizontal-items">
            <div class="control-group">
              <div class="controls">
                <%= nested.number_field :sort_order, placeholder: true %>
                <%= nested.file_field :image, placeholder: true, class: 'file_field' %>
              </div>
            </div>

            <div class="btn-group">
              <a href="#" class="remove btn btn-small btn-danger" title="Remove"><i class="icon-trash"></i></a>
            </div>

            <%= nested.hidden_field :id %>
            <%= nested.hidden_field :_destroy %>
          </div>
        </li>
      <% end %>
    </ol>
    <div class="form-actions">
      <a href="#" class="add btn btn-small btn-info"><i class="icon-plus-sign"></i>Add</a>
    </div>
  </div>

</div>

<% content_for :scripts do %>
  <%= javascript_include_tag "plugins/validate/jquery.validate", "plugins/validate/jquery.validate.pt-br" %>
<% end %>

<script>
  $(document).ready(function() {
    $('.minicolors').minicolors();
  });
</script>
