<div class="form-fields">
  <div class="control-group">
    <%= f.label :title, :class => "control-label required col-sm-6" %>
    <div class="controls">
      <%= f.text_field :title %>
      <%= errors_for(@campaign, :title) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :period, :class => 'control-label' %>
    <div class="controls control-row">
      <span class="datetime input-append">
        <%= f.text_field :start_at, :class => 'datetime_select datetime-start', :value => format_datetime(f, :start_at) %>
      </span>
      &nbsp;to&nbsp;
      <span class="datetime input-append">
        <%= f.text_field :end_at, :class => 'datetime_select datetime-end', :value => format_datetime(f, :end_at) %>
      </span>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :company_id, :class => "control-label" %>
    <div class="controls">
      <%= f.select :company_id, @companies, :class => 'text_field' %>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag "plugins/validate/jquery.validate", "plugins/validate/jquery.validate.pt-br" %>
<% end %>
