<%- model_class = Campaign -%>
<% content_for :index do %>
  <table class="footable table table-striped table-bordered">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:id) %></th>
        <th><%= model_class.human_attribute_name(:title) %></th>
        <th><%= model_class.human_attribute_name(:start_at) %></th>
        <th><%= model_class.human_attribute_name(:end_at) %></th>
        <th><%= model_class.human_attribute_name(:company_id) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @campaigns.each do |campaign| %>
        <tr>
          <td><%= link_to campaign.id, campaign_path(campaign) %></td>
          <td><%= campaign.title %></td>
          <td><%= show_datetime(campaign.start_at) %></td>
          <td><%= show_datetime(campaign.end_at) %></td>
          <td><%= campaign.company.trading_name %></td>
          <td class="tcenter td-action btn-group">
            <%= actions_to_index(campaign) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= render  :partial => 'layouts/default_index',
            :locals => {
              :collection => @campaigns,
              :class_name => Campaign
            }
-%>
